# SUPABASE PUBLIC
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# SUPABASE SERVER
SUPABASE_SERVICE_ROLE_KEY=

# BLOCKCHAIN
ETH_SEPOLIA_RPC_URL=
ETH_SEPOLIA_PRIVATE_KEY=
ETH_SEPOLIA_ANCHOR_WALLET_ADDRESS=
ETH_SEPOLIA_EXPLORER_BASE_URL=https://sepolia.etherscan.io/tx/

# APP
NEXT_PUBLIC_APP_URL=
BACKEND_API_URL=http://127.0.0.1:8000

# GEMINI
GEMINI_API_KEY=

# BINANCE
BINANCE_DEMO_API_KEY=
BINANCE_DEMO_SECRET_KEY=

# LANGSMITH
LANGSMITH_TRACING=
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=
